  <div ng-controller="ChatController" layout="column">
    <div ng-show="!hideloader" class="loader">
      <img ng-src="assets/images/loader.gif">
    </div>
    <md-list flex class="chat-list no-padding">
      <md-list-item class="md-3-line" ng-class="{'active': !anonChatMessage}" ng-click="selectChat('botChat')">
        <img ng-src="assets/images/claire.png" class="md-avatar" alt="" />
        <div class="md-list-item-text color-white" layout="column">
          <h3 class="md-title">Claire</h3>
          <h4 class="md-body-1">19th August, 2016</h4>
        </div>
      </md-list-item>
      <md-list-item class="md-3-line" ng-class="{'active': anonChatMessage}" ng-click="selectChat('anonChat')">
        <img ng-src="assets/images/anonymous.png" class="md-avatar" alt="" />
        <div class="md-list-item-text color-white" layout="column">
          <h3 class="md-title">Anonymous Bat</h3>
          <h4 class="md-body-1">Send an anonymous message</h4>
        </div>
      </md-list-item>
      <p class="color-white margintop-sm text-center">
        All your chats with Claire - Culture EA <br> will be recorded here for the future review
      </p>
    </md-list>
    <div flex-offset="32" flex="67" scroll-glue-bottom="glued" class="chat-msgs padding-md paddingbottom-xlg">
      <div ng-show="!hidechatloader" class="chat-loader">
          <img width="70px" ng-src="assets/images/chat-loader.gif">
        </div>
      <div class="chat-msg">        
        <div ng-repeat="msg in msgs" ng-class="{ 'bot-msg': msg.bot , 'user-msg': !msg.bot  }" class="text-left msg clearfix">
          <!--<img class="profile-img" src="images/anonymous.png">-->
          <div class="msg-content" ng-show="!msg.loader">
            <button ng-show="!msg.bot && !msg.editing && !msg.hidePencil" class="edit-button"><i class="fa fa-pencil" aria-hidden="true" ng-click="msg.editing = true"></i></button>
            <div ng-repeat="content in msg.contents">
              <p class="no-margintop marginbottom-xs" ng-show="content.type === 'string' && !msg.editing">{{content.content}}</p>
              <form ng-show="msg.editing" class="edit-form">
                <textarea rows="5" ng-model="content.content"></textarea>
                <md-button class="md-raised pull-right marginleft-xs" ng-click="editMessage(msg); $event.stopPropagation();">Save</md-button>
                <md-button class="md-raised pull-right" ng-click="msg.editing = false; $event.stopPropagation();">Cancel</md-button>
              </form>
              <img ng-show="content.type === 'image'" ng-src="{{content.content}}">
              <strong ng-show="content.type === 'bold_string'">{{content.content}}</strong>
              <div class="button-grp" ng-show="content.type === 'radio'">
                <button ng-show="!disbalebtns" ng-repeat="option in content.options" class="md-primary">
                    <img width="50px" ng-src="{{option.content}}" ng-click="responseButtonAction(option.action)">
                </button>
                <img ng-show="disbalebtns" ng-src="assets/images/smilysprite.png">
              </div>
              <md-button ng-disabled="!content.active" ng-class="{'btn-dark': content.active}" ng-show="content.type === 'button'" class="md-raised md-primary no-margin margintop-xs marginbottom-sm"
                ng-click="responseButtonAction(content.action)">
                {{content.content}}
              </md-button>
            </div>
          </div>

          <span class="msg-content more" ng-class="bot-msg" ng-show="msg.loader">
      <img class="bottyping" src="assets/images/sending.gif">
    </span>
          <!--<div ng-include="{{msg.type}}">
    </div>-->
        </div>
        <p ng-show="botchatdone" class="Note  margintop-lg marginbottom-lg">
          You can now close this chat or speak to Anonymous Bat.
        </p>
        <p ng-show="anonymouschatdone" class="Note  margintop-lg marginbottom-lg">
          You can now close this tab or send more messages if required.
        </p>
        
        <form class="msg-form">
          <md-input-container class="md-block">
            <textarea ng-keyup="autoExpand($event);" rows="1" md-select-on-focus placeholder="Start typing..." ng-model="form.message"></textarea>
            <button class="no-marginbottom" ng-disabled="form.message.length == 0" ng-click="sendMessage(form);">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="send" x="3143" y="3205"><path opacity=".4" d="M1.1 21.757l22.7-9.73L1.1 2.3l.012 7.912 13.623 1.816-13.623 1.817-.01 7.912z"/></svg>
            </button>            
          </md-input-container>
        </form>
      </div>
    </div>
  </div>