<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button aria-label="Go Back">
            <i class="material-icons">&#xE5C4;</i> Back
          </md-button>
          <h1 class="text-center">
            <span>Adding New Question</span>
          </h1>
        </div>
      </md-toolbar>
    </header>

    <section class="margintop-xlg question-setup">
      <div layout="row">
        <div flex="60" flex-offset="20">
          <div class="time-interval">
            <md-toolbar class="md-hue-2">
              <div class="md-toolbar-tools">
                <span>
                  <md-list-item class="md-3-line" ng-click="null">
                      <i class="material-icons marginright-xs">&#xE86C;</i>
                      <div class="md-list-item-text" layout="column">
                        <h3>Step1</h3>
                        <p>Choose target</p>
                      </div>
                      <!--<img ng-src="assets/images/button-arrow.png" />-->
                    </md-list-item>
                </span>
                <h2>
                  <span>Employees should recieve this questionaire when they...</span>
                </h2>
                <span flex></span>
                <md-button class="button-small md-raised md-primary">Next</md-button>
              </div>
            </md-toolbar>
            <div class="interval-form text-center" layout-align="center">
              <form>
                <p class="margin-md text-center">Choose the stage in an employee's life cycle</p>
                <md-input-container>
                  <label>Count</label>
                  <input>
                </md-input-container>
                <md-input-container>
                  <label>Duration</label>
                  <md-select ng-model="ctrl.userState">
                    <md-option><em>None</em></md-option>
                    <md-option>
                      Day
                    </md-option>
                    <md-option>
                      Month
                    </md-option>
                    <md-option>
                      Years
                    </md-option>
                  </md-select>
                </md-input-container>
              </form>
            </div>
          </div>

          <div class="questions">
            <md-toolbar class="md-hue-2">
              <div class="md-toolbar-tools">
                <span>
                  <md-list-item class="md-3-line" ng-click="null">
                      <i class="material-icons marginright-xs">&#xE86C;</i>
                      <div class="md-list-item-text" layout="column">
                        <h3>Step2</h3>
                        <p>Ask Questions</p>                        
                      </div>
                    </md-list-item>
                </span>
                <h2>
                  <span>What should we ask them?</span>
                </h2>
                <span flex></span>
                <md-button class="button-small md-raised md-primary">Next</md-button>
              </div>
            </md-toolbar>
            <div class="question question-selected marginbottom-lg">
              <md-card class="no-margin" layout="row" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-title layout="column" flex="79">
                  <md-card-title-text>
                    <span class="md-subhead">Small</span>
                    <span class="md-headline">Card with image</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <!--Answers options-->
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="column" flex="20" class="paddingtop-xs" layout-align="end top">
                  <md-button-group layout="row" layout-align="end top">
                    <md-button><i class="material-icons">&#xE8FE;</i></md-button>
                    <md-button><i class="material-icons">&#xE872;</i></md-button>
                  </md-button-group>
                  <md-chips>
                    <md-chip>Hockey</md-chip>
                  </md-chips>
                </md-card-actions>
              </md-card>
            </div>
            <div class="question marginbottom-lg">
              <md-card class="no-margin" layout="row" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-title layout="column" flex="79">
                  <md-card-title-text>
                    <span class="md-subhead">Small</span>
                    <md-input-container>
                      <label>City</label>
                      <input>
                    </md-input-container>
                  </md-card-title-text>
                  <md-card-title-media class="answer-options">
                    <!--Answers options-->
                    <md-input-container>
                      <i class="material-icons">&#xE40C;</i>                      
                      <input placeholder="Option 1">
                    </md-input-container>
                    <md-input-container>
                      <i class="material-icons">&#xE40C;</i>                      
                      <input placeholder="Option 1">
                    </md-input-container>
                    <md-button md-no-ink class="md-primary">Add another option</md-button>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="column" flex="20" class="paddingtop-xs" layout-align="top">
                  <md-button-group layout="row" layout-align="end top">
                    <md-button><i class="material-icons">&#xE8FE;</i></md-button>
                    <md-button><i class="material-icons">&#xE872;</i></md-button>
                  </md-button-group>
                  <md-input-container class="select-que-type">
                    <label>State</label>
                    <md-select ng-model="ctrl.userState">
                      <md-option><em>None</em></md-option>
                      <md-option ng-disabled="$index === 1">
                        le lo maze
                      </md-option>
                      <md-option ng-disabled="$index === 1">
                        le liye
                      </md-option>
                      <md-option ng-disabled="$index === 1">
                        or bol
                      </md-option>
                    </md-select>
                  </md-input-container>
                </md-card-actions>
              </md-card>
              <p>
                <i class="material-icons">&#xE147;</i>
                <md-button md-no-ink class="md-primary">Add you own question</md-button>
                or
                <md-button md-no-ink class="md-primary">Choose from list</md-button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--<div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <h3 class="md-title">{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
        </md-card-content>
        <div class="md-action-buttons">
          <md-button ng-href="{{ awesomeThing.url }}">Website</md-button>
        </div>
      </md-card>
    </div>-->
  </md-content>

</div>