
// Background Variables
$chat-background: rgba(96,125,139,1);
$active-chat: rgba(69,90,100,1);
$grey-light: rgba(242,242,242,1);
$grey-semidark: rgba(224,224,224,1);
$grey-dark: rgba(74,74,74,1);
$blue-dark: rgba(63,83,181,1);


// font color mixins

.color-white, .color-white  *{
    color: rgba(255,255,255,1) !important;
}

.btn-dark {
    background: $chat-background!important;
    color: #fff;

    &:hover {
        background: darken($chat-background, 10%)!important;
    }
}