// Import variables
@import "variables";

md-toolbar {
    h1{
        width: calc(100% - 166px);
        font-size: 35px !important;
        color: #fff;
    }

    button {
        font-size: 20px !important;

        i {
            font-size: 28px !important;
        }
    }
}

.question-setup {

    .md-errors-spacer {
        display: none;
    }
    md-toolbar {
        background-color: $grey-light !important;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
        color: $grey-dark !important;
        min-height: 55px;

        .md-toolbar-tools {
            height: 55px;
        }

        md-list-item {
            min-height: initial;

            h3{
                font-weight: 700 !important;
            }
            p{
                line-height: 1 !important;
            }

            .md-button {
                color: $grey-dark !important;
                min-height: initial;
                margin: 0 !important;
                padding-left: 0;
                cursor: auto;

                i{
                    color: $blue-dark;
                    font-size:32px;
                }

                &:hover {
                    background-color: $grey-light;
                }
            }
        }        
    }

    md-card-actions {
            button {
                min-width: initial !important;
                min-height: initial;
                height: 32px;
                line-height: 1;
            }
        }

    .question {

        .md-subhead {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
        }

        &.question-selected md-card {
            border: 0;
            box-shadow: none;
        }
        .md-chips {
            border: 0 !important;
            box-shadow: none !important;

            md-chip {
                width: 100%;
                border-radius: 2px;
            }
        }

        .select-que-type {
            margin-top: 13px;

            md-select {
                background: $grey-semidark;
                color: $grey-dark;
                padding: 0 3px;
            }

            md-select-value {
                border:0;

                span {
                    transform:  translate3d(0, -1px, 0);
                }
            }

        }

        .answer-options {

            md-input-container {
                position: relative;
                margin-top: 0;
                padding-left: 35px;
                display: block;

                &.md-input-focused {
                    label{
                        display: none;
                    }
                }
            }
            i {
                position: absolute;
                color: #ccc;
                left: 0;
                top: 7px;
            }

            label {
                left: 34px;
            }
        }
    }
}