//Plugin Scss


// Custom scss
@import "magins-variable";
@import "color-variables";
@import "fonts-variables";

.clearfix {
    clear: both;
}

body {
    color: #4a4a4a;

    md-content {
        width: 100%;
    }
}

i{
    vertical-align: middle;
}

md-button, button {
    text-transform: none !important;
    // display: block !important;  
    margin: 5px 0 !important;      
}

.button-small{
    min-width: 70px !important;
    min-height: 30px !important;
    line-height: 30px !important;
    font-size: 14px !important;
}

button:active, button:focus, button.active, button *:active, button *:focus, button *.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@keyframes sent-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(0px,15px); opacity: 0.6 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(0px,12px);  opacity: 0.7 }
    60%  { color: rgba(144,134,251,0.3); transform: translate(0px,9px);  opacity: 0.8 }
    80%  { color: rgba(32,40,70,0.5);    transform: translate(0px,6px);    opacity: 0.9 }
    90%  { color: rgba(32,40,70,0.7);    transform: translate(0px,3px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}
@keyframes received-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(0px,15px); opacity: 0.6 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(0px,12px);  opacity: 0.7 }
    60%  { color: rgba(144,134,251,0.3); transform: translate(0px,9px);  opacity: 0.8 }
    80%  { color: rgba(32,40,70,0.5);    transform: translate(0px,6px);    opacity: 0.9 }
    90%  { color: rgba(32,40,70,0.7);    transform: translate(0px,3px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}